requests
pyobjc
wxpython
pyinstaller
packaging
py_sip_xnu
py-applescript
markdown2
macos-pkg-builder
mac-signing-buddy
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability